.gitlabDiscussions {
  margin: 15px;
  display: block;
}
.gitlabCommentsOuter {
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  margin-bottom: 10px;
  background: white;
}
.gitLabComments {
  margin-bottom: 6px;
  padding-top: 5px;
  padding-bottom: 0px;
}
.gitLabCommentAvatar {
  padding-top: 5px;
  padding-left: 5px;
  width: 53px;
  float: left;
  margin-right: 8px;
}
.gitLabCommentBody {
  float: left;
  width: calc(100% - 74px);
  display: block;
  position: relative;
  font-size: 14px;
}
.gitLabReplyImage {
  width: 60px;
}
.gitCommentSubmitButton {
  margin-bottom: 15px !important;
  float: right;
}
.gitLabCommentIcons {
  position: absolute;
  right: 3px;
  top: 2px;
  width: 50%;
  text-align: right;
}
.gitLabCommentIcons .gitLabReplyCommentIcon,
.gitLabCommentIcons .gitLabEditCommentIcon,
.gitLabCommentIcons .gitLabMoreCommentIcon {
  cursor: pointer;
  color: #bcbcbc !important;
  padding-left: 5px;
}

.gitLabCommentIcons .gitLabReplyCommentIcon:hover,
.gitLabCommentIcons .gitLabEditCommentIcon:hover,
.gitLabCommentIcons .gitLabEditCommentIcon:hover {
  color: #111 !important;
}

.gitLabReplyBox {
  margin-left: 5px !important;
  margin-top: 5px !important;
}

.gitLabReplyCommentBox {
  width: calc(100% - 70px);
}
.gitLabReplyCommentText {
  width: 93%;
}

.gitLabReplyCommentForm div .ck-sticky-panel__content,
.gitLabReplyCommentForm div .ck-editor__main {
  width: 97% !important;
}

.gitLabPullRight {
  float: right;
  margin-right: 0px !important;
}
.gitLabPullRight button{
  padding: 5px 10px;
}
.gitLabCommentUserTime {
  width: 50%;
  display: inline-block;
}